@import 'normalize/import-now';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

//___ COLORS: ___________________________________




//___ MIXINS: ___________________________________




/*----- Begin Styling -----*/

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', cursive;
    background-image: url(../resource/jungle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 3% 15% 3% 15%;
    margin: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    border: 3px;
    border-style: solid;
    border-color: #E5E5E5 #999999 #999999 #E5E5E5;
    border-radius: 15px;
    
    padding: 5px;
    background-color: white;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
    background-color: white;
    height: 160px;
    width: auto;
    margin: 0;
    padding-left: 10px;
    
    //border-bottom: 1px solid black;
}
.organizer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 160px;
    width: 100%;
    margin: 0;
    padding-left: 10px;
    
    //border: 1px solid blue;
}
.logo {
    height: 140px;
    width: auto;
    margin: 5px;
    
    //border: 1px solid black;
   
}
h1 {
    font-size: 80px;
    font-weight: bold;
    color: #71980B;
    height: 55%;
    width: auto;
    margin: 0;
    
    //padding-top: 5px;
    //border: 1px solid black;
}
p {
    font-size: 15px;
    height: 20%;
    margin: 0;
    
    //border: 1px solid black;
}
.whoAmI {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 5px 0;
    
    //border: 1px solid black;
}
h2 {
    height: 34px;
    width: 32%;
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
    padding-top: 3px;
    
    //border: 1px solid black;
}
.user {
    background-color: white;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    font-weight: bold;
    color: #0D3033;
    
    height: 34px;
    width: 50%;
    border: 0px;
    margin: 0;
    margin-top: 10px;
    padding-left: 5px;
    
    //border-bottom: 1px solid black;
}
ul {
    overflow: scroll;
    height: 400px;
    padding: 0;
    padding-right: 15px;
    margin: 0;
    background-color: #f2f2f2;
    border-radius: 10px;
}
li { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    width: 60%;
    
    border: 2px;
    border-style: solid;
    border-color: #E5E5E5 #999999 #999999 #E5E5E5;
    border-radius: 10px;
}
h3 {
    font-size: 26px;
    font-weight: bold;
    color: #0D3033;
    margin: 5px 0;
}
h4 {
    font-size: 20px;
    font-weight: 400;
    color: white; 
    margin: 0;
}
small{
    font-size: 15px;
    color: white;
    height: 20%;
    margin: 0;
}
.right {
    display: flex;
    //background-color: #4E6808;
    background-color: #5F8009;
    margin-left: 40%;
}
.left {
    display: flex;
    background-color: #94C80E;
}

.chat {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    margin: 0;
    
    //border: 1px solid blue;
}
.profile {
    height: 70px;
    width: 70px;
    border: 2px;
    border-style: solid;
    border-color: #999999 #E5E5E5 #E5E5E5 #999999;
    border-radius: 10px;
}
.message {
    //background-color: #f2f2f2;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: black;
    height: 40px;
    width: 80%;
    padding-left: 10px;
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 3px;
}
button {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    
    border: 2px;
    border-style: solid;
    border-color: #E5E5E5 #999999 #999999 #E5E5E5;
    border-radius: 5px;
}
.submit {
    background-color: #71980b;
    width: 20%;
    height: 40px;
    margin: 0 10px;
}

